body, html {
    font-family: 'Helvetica Neue', sans-serif;
    background-color: whitesmoke;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

.coin {
    transition: transform .5s ease;
    height: 300px;
    width: 300px;
    background-color: #bbb26c;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.coin:hover {
    cursor: pointer;
    transform: scale(1.2);
    opacity: 0.7;
}

.coin-inner {
    height: 220px;
    width: 220px;
    background-color: lightgrey;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.coin-text span:nth-child(1) {
    font-weight: 700;
    font-size: 60px;
    display: block;
    color: #333333;
}

.coin-text span:nth-child(2) {
    font-weight: 200;
    font-size: 18px;
    display: block;
}
